/* GLOBAL */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #070A13;
    color: white;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 90px;
    background: #0C0F1A;
    height: 100vh;
    padding: 25px 10px;
    border-right: 1px solid #1c2333;
}

.logo {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
.logo span {
    color: #6E8BFF;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .menu li {
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.8;
}
.sidebar .menu li:hover {
    opacity: 1;
}

/* MAIN */
.main {
    flex: 1;
    padding: 40px 60px;
}

h1 {
    font-size: 42px;
    margin: 0;
}
.highlight {
    color: #6E8BFF;
}
.subtitle {
    opacity: 0.8;
    margin-top: 5px;
}

/* STATUS CHIP */
.status-chip {
    margin: 25px 0 35px;
    background: #0f1628;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: 14px;
    border: 1px solid #20304B;
}

/* CARD GRID */
.card-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

/* CARD */
.card {
    background: #0D1421;
    padding: 25px;
    border-radius: 18px;
    border: 1px solid #182235;
    transition: 0.2s;
}
.card:hover {
    transform: scale(1.02);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.emoji { font-size: 28px; }

.tag {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 6px;
}
.positive { background: #10321E; color: #49FF8F; }
.blue { background: #1B2C44; color: #70A1FF; }
.warning { background: #3B2F15; color: #F7C24D; }
.purple { background: #2A1844; color: #BB86FF; }

.value {
    font-size: 28px;
    margin-top: 20px;
}
.value small {
    font-size: 14px;
    opacity: 0.7;
}

.desc {
    opacity: 0.75;
    margin-top: 8px;
}

.small { font-size: 13px; }

.blue-text { color: #70A1FF; }

/* PROGRESS BAR */
.progress {
    background: #2a2f43;
    height: 8px;
    border-radius: 5px;
    margin-top: 12px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #39caff, #4d8cff);
    border-radius: 5px;
}

.progress-bar.stress {
    background: linear-gradient(to right, green, yellow, orange, red);
}
